<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Veículo</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Cadastrar um Funcionário</h2>
                <form>
                    <div class="form-group">
                        <label for="placa">Nome Completo</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                    <div class="form-group">
                        <label for="cor">Matrícula</label>
                        <input type="text" class="form-control" id="matricula" name="matricula" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-4">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
